<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=11">
    <title>Installation Maintenance Kit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="./favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="./style/eds.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./style/app.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">


    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <!--MAP-->
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/maps.js"></script>
    <script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <style>
        #chartdiv {
            width: 100%;
            height: 300px;
            max-width: 100%;
        }

        #chartdiv2 {
            width: 100%;
            height: 300px;
            max-width: 100%;
        }

        #chartdiv3 {
            width: 100%;
            height: 300px;
            max-width: 100%;
            padding-bottom: -30px;
        }

        #chartdiv4 {
            width: 100%;
            height: 300px;
            max-width: 100%;
            padding-bottom: -30px;
        }
    </style>

</head>

<body class="light">

    <!-- System bar -->
    <header class="sysbar">
        <div class="items-container">
            <div class="item">
                <i class="icon icon-econ"></i>
                <span class="product">Installation Maintenance Kit</span>
                <span class="acronym">IMK</span>
            </div>
        </div>
        <div class="items-container">
            <div class="item notification-log-trigger">
                <span class="notification-log-number"></span>
                <span class="stars-outer" style="margin-top:20px; margin-left:20px; margin-bottom:20px;">
                    <div class="stars-inner">

                    </div>

                </span>

            </div>
            <div class="item hover settings-trigger">
                <i class="icon icon-profile"></i>
                <span>@ViewBag.Username</span>
            </div>
        </div>
    </header>

    <main>
        <!-- System panel -->
        <aside class="syspanel hidden">

            <!-- System panel: Settings -->
            <div class="settings">
                <div class="syspanel-top">
                    <span class="syspanel-title"></span>
                    <i class="syspanel-close icon icon-cross"></i>
                </div>
                <div class="row">
                    <div class="column sm-12 container">

                        <div class="profile">
                            <i class="icon icon-profile"></i>
                            <div class="username">@ViewBag.Username</div>
                        </div>

                        <div class="content">
                            <div class="title">My settings</div>
                            <div class="item">
                                @if (ViewBag.Role.Equals("Admin"))
                                {
                                    <div class="left"><a type="button" class="btn" asp-controller="Dashboard" asp-action="Portal">Admin Page</a></div>
                                }
                            </div>
                        </div>

                        <div class="bottom">
                            <a type="button" class="btn big" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut"><i class="icon icon-logout"></i>Signout</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- System panel: Notification log -->
            <div class="notification-log">
                <div class="syspanel-top">
                    <span class="syspanel-title">App Ratings</span>
                    <i class="syspanel-close icon icon-cross"></i>
                </div>

                <div class="notification-log-container">
                    <div style="margin-top:20px; margin-left:20px; margin-bottom:20px;">
                        <span class="stars-outer">
                            <div class="stars-inner">

                            </div>

                        </span>
                        <span class="tooltip" style="margin-left:55%;">
                            <i class="icon icon-download-save" id="export-ratings">
                            </i>
                            <span class="message left">Export to excel</span>
                        </span>
                        <div style="color:gray;" id="total-reviews"> </div>
                    </div>
                    <div id="rating-card-container" style="overflow-y:scroll;">
                        <div />

                    </div>
                </div>
        </aside>

        <!-- Application -->
        <div class="app" id="app">

            <!-- Application: Bar -->
            <nav class="appbar">
                <div class="actions-left">
                    <div class="item">
                        <i class="navigation-toggle closed"></i>
                    </div>
                    <div class="menu-anchor open-menu">Filter</div>
                    <div class="title open-menu">
                        <span class="title-name">Dashboard</span>
                        @* <span class="subtitle">Page subtitle</span> *@
                    </div>
                </div>
                <div class="actions-right"></div>
            </nav>

            <div class="appbody">

                <!-- Application: Navigation -->
                <div class="appnav">
                    <div class="tree navigation">
                        <form class="eds-form" action="" id="filter">
                            <div class="form-body">
                                <div class="ml-2">
                                    <div class="datepicker" id="reportrange">
                                        <input name="date" type="text" placeholder="YYYY-MM-DD" name="datepicker"
                                               class="with-icon" style="width: 90%;">
                                        <div class="suffix icon-inside"><i class="icon icon-calendar"></i></div>

                                        <div class="calendar closed">
                                            <div class="head">
                                                <i class="icon icon-chevron-left"></i>
                                                <span class="month"></span>
                                                <i class="icon icon-chevron-right"></i>

                                                <i class="icon icon-chevron-left"></i>
                                                <span class="year"></span>
                                                <i class="icon icon-chevron-right"></i>
                                            </div>
                                            <table class="body">
                                                <!-- the body of the calendar is dynamically generated -->
                                            </table>
                                        </div>

                                        <input type="hidden" id="start" value="">
                                        <input type="hidden" id="end" value="">
                                    </div>
                                </div>
                                <div>
                                    <span class="title closed item">Market Area</span>
                                    <ul id="market-areas">

                                        <li class="item active" value="">All</li>
                                        <li value="MANA" class="item">MANA</li>
                                        <li value="MELA" class="item">MELA</li>
                                        <li value="MMEA" class="item">MMEA</li>
                                        <li value="MNEA" class="item">MNEA</li>
                                        <li value="MOAI" class="item">MOAI</li>
                                        <li value="Other" class="item">Other</li>

                                    </ul>
                                </div>
                                <div>
                                    <span class="title closed item">Countries</span>
                                    <ul id="countries"></ul>
                                </div>
                                <div>
                                    <span class="title closed item">Operators</span>
                                    <ul id="operators"></ul>
                                </div>
                            </div>
                            <div class="ml-2">
                                <button type="submit" class="btn"><i class="icon icon-filter"></i>Filter</button>
                                <button type="reset" class="btn"><i class="icon icon-undo"></i>Reset</button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Application: Content -->
                <div class="appcontent">
                    <!-- Row 1 -->
                    <div class="row">

                        <!-- Tile 2 -->
                        <div class="tile sm-12 lg-3">
                            <div class="header">
                                <div class="left">
                                    <div class="title">Diagnostics Usage (Number of Nodes)</div>
                                </div>
                            </div>
                            <div class="content">
                                <div id="chartdiv"></div>
                            </div>
                        </div>

                        <!-- Tile 3 -->
                        <div class="tile sm-12 lg-3">
                            <div class="header">
                                <div class="left">
                                    <div class="title">Number of Active Users</div>
                                </div>
                            </div>
                            <div class="content">
                                <div id="chartdiv2"></div>
                            </div>
                        </div>

                        <!-- Tile 4 -->
                        <div class="tile sm-12 lg-3">
                            <div class="header">
                                <div class="left">
                                    <div class="title">Total Number of New Registrations</div>
                                </div>
                            </div>
                            <div class="content">
                                <div id="chartdiv3"></div>
                            </div>
                        </div>

                        <!-- Tile 5 -->
                        <div class="tile sm-12 lg-3">
                            <div class="header">
                                <div class="left">
                                    <div class="title">LMT Usage</div>
                                </div>
                            </div>
                            <div class="content">
                                <div id="chartdiv4"></div>
                            </div>
                        </div>

                    </div>
                    <!-- End Row 1 -->
                    <!-- Row 2 -->
                    <div class="row">

                        <!-- Tile 2 -->
                        <div class="tile sm-12 lg-4">
                            <div class="header">
                                <div class="left">
                                    <div class="title">Unique Physical Sites</div>
                                </div>
                                <div class="right">
                                    <div class="action">
                                        <button class="btn clickable" value="unique-sites" onclick="hideLegend(this.value)"><i class="icon icon-resize-down"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <div id="unique-sites"></div>
                            </div>
                        </div>

                        <!-- Tile 3 -->
                        <div class="tile sm-12 lg-4">
                            <div class="header">
                                <div class="left">
                                    <div class="title">Number of Unique Nodes</div>
                                </div>
                                <div class="right">
                                    <div class="action">
                                        <button class="btn clickable" value="unique-nodes" onclick="hideLegend(this.value)"><i class="icon icon-resize-down"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <div id="unique-nodes"></div>
                            </div>
                        </div>

                        <!-- Tile 4 -->
                        <div class="tile sm-12 lg-4">
                            <div class="header">
                                <div class="left">
                                    <div class="title">Number of Node Revisits</div>
                                    <div class="subtitle">(after 12 hours)</div>
                                </div>
                                <div class="right">
                                    <div class="action">
                                        <button class="btn clickable" value="site-revisits" onclick="hideLegend(this.value)"><i class="icon icon-resize-down"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <div id="site-revisits"></div>
                            </div>
                        </div>

                    </div>
                    <!-- End Row 2 -->
                    <!-- Row 3 -->
                    <div class="row">

                        <!-- Tile 5 -->
                        <div class="tile sm-12 lg-8">
                            <div class="content ml-3">
                                <div class="row multi-panel-tile">
                                    <!-- Middle panel -->
                                    <div class="mid-panel">

                                        <!-- Header-->
                                        <div class="header">
                                            <div class="left">
                                                <span class="title">IMK Functions</span>
                                            </div>
                                            <div class="right">
                                                @* <button class="btn"><i class="icon icon-lightbulb"></i>Details</button> *@
                                            </div>
                                        </div>

                                        <!-- Content -->
                                        <div class="content">
                                            <div class="text-sm" id="imk-functions"></div>
                                        </div>
                                    </div>

                                    <!-- Right panel -->
                                    <div class="right-panel">
                                        <div class="header">
                                            <div class="left">
                                                <span class="title">Details of</span>
                                                <span class="subtitle">Functions</span>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <!-- Insert total pass fail here -->
                                            <table class="table compact dashed">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 110px;">Command</th>
                                                        <th>Total Passes</th>
                                                        <th>Total Failures</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="total-pf"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tile 6 -->
                        <div class="tile sm-12 lg-4">
                            <div class="header">
                                <div class="left">
                                    <div class="title">Versions</div>
                                    <div class="subtitle" id="app-imk-version">App</div>
                                </div>
                                <div class="right">
                                    <button class="btn" id="switch-versions" value="app" onclick="toggleVersions(this.value)"><i class="icon icon-mobile-devices"></i>App</button>
                                    @* <button class="btn"><i class="icon icon-mobile-devices"></i>App</button> *@
                                </div>
                            </div>
                            <div class="content" style="margin: 0 auto;width: 70%;">
                                <div id="app-version"></div>
                                <div id="imk-version" style="display: none;"></div>
                            </div>
                        </div>


                    </div>
                    <!-- End Row 3 -->
                    <!-- Row 4 -->
                    <div class="row">

                        <!-- Tile 7 -->
                        <div class="tile sm-12 lg-6">
                            <div class="header">
                                <div class="left">
                                    <div class="title">Top 10 Field Engineers</div>
                                </div>
                            </div>
                            <div class="content">
                                <div id="top-asp"></div>
                            </div>
                        </div>

                        <div class="tile sm-12 lg-6">
                            <div class="header">
                                <div class="left">
                                    <div class="title">Top Revisited Sites</div>
                                </div>
                            </div>
                            <div class="content">
                                <div id="top-revisits"></div>
                            </div>
                        </div>

                        @* <!-- Tile 8 -->
                            <div class="tile sm-12 lg-4">
                                <div class="header">
                                    <div class="left">
                                        <div class="title">App Version</div>
                                    </div>
                                </div>
                                <div class="content" style="margin: 0 auto;width: 70%;">
                                    <div id="app-version"></div>
                                </div>
                            </div> *@

                    </div>
                    <!-- End Row 3 -->
                    <!-- Tile KPI -->
                    <div class="row">
                        <div class="tile sm-12 lg-7">
                            <div class="header">
                                <div class="left">
                                    <div class="title">Pass / Fail Status</div>
                                </div>
                                <div class="right">
                                    <div class="select" data-type="single" id="get-command">
                                        <button class="btn current-options" id="select-command">Passed / Failed</button>

                                        <div class="options-list">
                                            <div class="item command" id="default-passfail">Passed / Failed</div>
                                            <div class="item command">VSWR</div>
                                            <div class="item command">RSSI UMTS</div>
                                            <div class="item command">RSSI-LTE FDD</div>
                                            <div class="item command">RSSI-LTE TDD</div>
                                            <div class="item command">RSSI-NR</div>
                                            <div class="item command">Alarm</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <div id="pass-fail"></div>
                                <div id="resolved" style="display: none;">
                                    <div class="card ml-3">
                                        <div class="text-xl">
                                            <kbd class="tag big">
                                                <i class="icon icon-antenna"></i>
                                                <span id="command"></span>
                                            </kbd>
                                        </div>
                                        <br>
                                        <div class="kpi">
                                            <div class="color-gray">Resolved Nodes</div>
                                            <div class="item">
                                                <span class="text-xl" id="resolved-number"></span>
                                                <span class="item text-lg" id="total-nodes"></span>
                                                <span class="text-lg color-gray">Nodes</span>
                                            </div>
                                            <div class="progress-bar blue thin" style="background-color: #fafafa; width: 160px;">
                                                <span class="resolved-percentage">
                                                    <progress id="progress-bar" value="0" min="0" max="100"></progress>
                                                    <span id="progress-value" style="color: black;"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="kpi">
                                            <div class="color-gray">Average Resolution Time</div>
                                            <div class="item">
                                                <span class="text-xl" id="avg-time"></span>
                                                <span class="text-lg color-gray">minutes</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tile sm-12 lg-5">
                            <div class="header">
                                <div class="left">
                                    <div class="title">Alarm Analysis</div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="row multi">
                                    <div class="column sm-12 md-12 xl-8">
                                        <div class="select" data-type="single" id="get-alarmtype">
                                            <button class="btn current-options" id="select-alarmtype">Field</button>

                                            <div class="options-list">
                                                <div class="item alarmtype" id="default-alarmtype">Field</div>
                                                <div class="item alarmtype">Remote</div>
                                                <div class="item alarmtype">Misc</div>
                                            </div>
                                        </div>

                                        <div class="alarm-types" id="field-types" style="margin: 0 auto;width: 70%;"></div>
                                        <div class="alarm-types" id="remote-types" style="margin: 0 auto;width: 70%; display:none"></div>
                                        <div class="alarm-types" id="misc-types" style="margin: 0 auto;width: 70%; display:none"></div>

                                        <table class="table compact">
                                            <thead>
                                                <tr>
                                                    <th>Period</th>
                                                    <th>Last 7 Days</th>
                                                    <th>This Month</th>
                                                    <th>Last Month</th>
                                                    <th>Earlier Month</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                    <td>Avg Res Time (Mins)</td>
                                                    <td id="avg-1"></td>
                                                    <td id="avg-2"></td>
                                                    <td id="avg-3"></td>
                                                    <td id="avg-4"></td>                                             
                                                    </tr>
                                                </tbody>
                                        </table>  
                                    </div> 
                                    <div class="column sm-12 md-12 xl-4">
                                        <div class="timeline">
                                        <button class="btn" id="switch-list" value="top" onclick="toggleTopCountries(this.value)">Best Performers</button>
                                        <ul class="main-list" id="top-list"></ul>
                                        <ul class="main-list" id="worst-list" style="display: none;"></ul>
                                        </div>
                                    </div>            
                                </div>                  
                            </div>
                        </div>
                        @*
                            <div class="tile sm-12 lg-6">
                                <div class="header">
                                    <div class="left">
                                        <div class="title">LMT Details</div>
                                    </div>
                                    <div class="right">
                                        <div class="action" data-type="maximize">
                                            <span class="tooltip pointer">
                                                <i class="icon icon-maximize"></i> <span class="message left black">Maximize tile</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="table-buttons">
                                        <button class="btn" id="export-lmt">Export</button>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="table-top">
                                        <div class="table-top-left">
                                            <div class="table-info ml-2"></div>
                                        </div>
                                    </div>
                                    <table id="lmt-details" class="table compact striped text-sm"></table>

                                    <div class="table-bottom">
                                        <div class="pagination-group">
                                            <ul class="pagination"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        *@
                    </div>
                    @*     <div class="row">
                        <!-- Tile 9 -->
                        <div class="tile sm-12 xl-12">
                            <div class="header">
                                <div class="left">
                                    <div class="title">Site Visit Details</div>
                                </div>
                                <div class="table-buttons">
                                    <button class="btn" id="export-data">Export</button>
                                </div>
                            </div>
                            <div class="content">
                                <div class="table-top">
                                    <div class="table-top-left">
                                        <div class="table-info ml-2"></div>
                                    </div>

                                </div>

                                <table id="site-details" class="table striped text-sm"></table>

                              <div class="table-bottom">
                                        <div class="pagination-group">
                                            <ul class="pagination"></ul>

                                            <div class="actions">
                                                <label class="left">Go to</label>
                                                <input type="number" min="1">

                                                <label class="left">Show</label>
                                                <div class="select" data-type="single">
                                                    <button class="btn current-options">5</button>

                                                    <div class="options-list">
                                                        <div class="item active">5</div>
                                                        <div class="item">10</div>
                                                        <div class="item">100</div>
                                                        <div class="item">All</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> *@
                    <div class="row">
                        <!-- Tile 9 -->
                        <div class="tile sm-12 xl-12">
                            <div class="header">
                                <div class="left">
                                    <div class="title">Site Visit Details</div>
                                </div>
                                <div class="table-buttons">
                                    @if (ViewBag.Role.Equals("Admin"))
                                    {
                                        <button class="btn" id="export-new-visits-admin">Export</button>
                                    }
                                    else
                                    {
                                        <button class="btn" id="export-new-visits-user">Export</button>
                                    }

                                </div>
                            </div>
                            <div class="content">
                                <div class="table-top">
                                    <div class="table-top-left">
                                        <div class="table-info ml-2"></div>
                                    </div>

                                </div>

                                <table id="site-details-updated" class="table compact striped"></table>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="dialog" data-trigger="#open-details" data-type="simple">
                    <div class="content">
                        <div class="top">
                            <div class="title">Field Engineer Details</div>
                        </div>
                        <div class="body">
                            <p>Share your email to keep updated with the latest news.</p>
                        </div>
                        <div class="bottom">
                            <button class="btn ghost" data-close="true">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </main>

    <script src="./js/eds.min.js" charset="utf-8"></script>
    <script src="./js/app.js" charset="utf-8"></script>
    <script>init()</script>

</body>

</html>