<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=11">
    <title>Installation Maintenance Kit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="./favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="./style/eds.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./style/app.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <!--MAP-->
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/maps.js"></script>
    <script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <style>
        #chartdiv {
            width: 100%;
            height: 300px;
            max-width: 100%;
        }

        #chartdiv2 {
            width: 100%;
            height: 300px;
            max-width: 100%;
        }

        #chartdiv3 {
            width: 100%;
            height: 300px;
            max-width: 100%;
            padding-bottom: -30px;
        }
    </style>

</head>

<body class="light">

    <!-- System bar -->
    <header class="sysbar">
        <div class="items-container">
            <div class="item">
                <i class="icon icon-econ"></i>
                <span class="product">Installation Maintenance Kit</span>
                <span class="acronym">IMK</span>
            </div>
        </div>
        <div class="items-container">
            <div class="item notification-log-trigger">
                <span class="notification-log-number"></span>
                <i class="icon icon-notification"></i>
                <i class="icon icon-notification-ring"></i>
            </div>
            <div class="item hover settings-trigger">
                <i class="icon icon-profile"></i>
                <span>Username</span>
            </div>
        </div>
    </header>

    <main>
        <!-- System panel -->
        <aside class="syspanel hidden">

            <!-- System panel: Settings -->
            <div class="settings">
                <div class="syspanel-top">
                    <span class="syspanel-title"></span>
                    <i class="syspanel-close icon icon-cross"></i>
                </div>
                <div class="row">
                    <div class="column sm-12 container">

                        <div class="profile">
                            <i class="icon icon-profile"></i>
                            <div class="username">Username</div>
                        </div>

                        <div class="content">
                            <div class="title">My settings</div>
                            <div class="item">
                                <div class="left">Admin Page</div>
                                <div class="right"></div>
                            </div>
                        </div>

                        <div class="bottom">
                            <button type="button" class="btn big"><i class="icon icon-logout"
                                    asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut"></i> Sign
                                out</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- System panel: Notification log -->
            <div class="notification-log">
                <div class="syspanel-top">
                    <span class="syspanel-title">Notifications</span>
                    <i class="syspanel-close icon icon-cross"></i>
                </div>
                <div class="notification-log-container">
                    <div class="notification-log-empty">No new notifications.</div>
                </div>
            </div>
        </aside>

        <!-- Application -->
        <div class="app" id="app">

            <!-- Application: Bar -->
            <nav class="appbar">
                <div class="actions-left">
                    <div class="item">
                        <i class="navigation-toggle closed"></i>
                    </div>
                    <div class="menu-anchor open-menu">Filter</div>
                    <div class="title open-menu">
                        <span class="title-name">Dashboard</span>
                        @* <span class="subtitle">Page subtitle</span> *@
                    </div>
                </div>
                <div class="actions-right"></div>
            </nav>

            <div class="appbody">

                <!-- Application: Navigation -->
                <div class="appnav">
                    <div class="tree navigation">
                        <form class="eds-form" action="" id="filter">
                            <div class="form-body">
                                <div class="ml-2">
                                    <div class="datepicker" id="reportrange">
                                        <input name="date" type="text" placeholder="YYYY-MM-DD" name="datepicker"
                                            class="with-icon" style="width: 90%;">
                                        <div class="suffix icon-inside"><i class="icon icon-calendar"></i></div>

                                        <div class="calendar closed">
                                            <div class="head">
                                                <i class="icon icon-chevron-left"></i>
                                                <span class="month"></span>
                                                <i class="icon icon-chevron-right"></i>

                                                <i class="icon icon-chevron-left"></i>
                                                <span class="year"></span>
                                                <i class="icon icon-chevron-right"></i>
                                            </div>
                                            <table class="body">
                                                <!-- the body of the calendar is dynamically generated -->
                                            </table>
                                        </div>

                                        <input type="hidden" name="selectedDay" value="">
                                    </div>
                                </div>
                                <div>
                                    <span class="title closed item">Market Area</span>
                                    <ul id="market-areas">

                                        <li class="active" value=""><a class="item">All</a></li>
                                        <li value="MANA"><a class="item">MANA</a></li>
                                        <li value="MELA"><a class="item">MELA</a></li>
                                        <li value="MMEA"><a class="item">MMEA</a></li>
                                        <li value="MNEA"><a class="item">MNEA</a></li>
                                        <li value="MOAI"><a class="item">MOAI</a></li>
                                        <li value="Other"><a class="item">Other</a></li>

                                    </ul>
                                </div>
                                <div>
                                    <span class="title closed item">Countries</span>
                                    <ul id="countries"></ul>
                                </div>
                                <div>
                                    <span class="title closed item">Operators</span>
                                    <ul id="operators"></ul>
                                </div>
                            </div>
                            <div class="ml-2">
                                <button type="submit" class="btn"><i class="icon icon-filter"></i>Filter</button>
                                <button type="reset" class="btn" onclick="clear()"><i
                                        class="icon icon-undo"></i>Clear</button>
                            </div>
                        </form>
                        @* <ul>
                            <li><span class="item active">Example page</span></li>
                            <li><span class="item">Standalone example page</span></li> *@
                        @* <div id="reportrange"
                            style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width:
                            100%">
                            <i class="icon icon-calendar"></i>&nbsp;
                            <span></span> <i class="icon-chevron-down"></i>
                            </div>
                            </ul> *@
                    </div>
                </div>

                <!-- Application: Content -->
                <div class="appcontent">
                    <!-- Row 1 -->
                    <div class="row">

                        <!-- Tile 2 -->
                        <div class="tile sm-12 lg-4">
                            <div class="header">
                                <div class="left">
                                    <div class="title">Usage (Number of Sites)</div>
                                </div>
                            </div>
                            <div class="content">
                                <div id="chartdiv"></div>
                            </div>
                        </div>

                        <!-- Tile 3 -->
                        <div class="tile sm-12 lg-4">
                            <div class="header">
                                <div class="left">
                                    <div class="title">Number of Active Users</div>
                                </div>
                            </div>
                            <div class="content">
                                <div id="chartdiv2"></div>
                            </div>
                        </div>

                        <!-- Tile 4 -->
                        <div class="tile sm-12 lg-4">
                            <div class="header">
                                <div class="left">
                                    <div class="title">Total Number of New Registrations</div>
                                </div>
                            </div>
                            <div class="content">
                                <div id="chartdiv3"></div>
                            </div>
                        </div>

                    </div>
                    <!-- End Row 1 -->

                    <!-- Row 2 -->
                    <div class="row">

                        <!-- Tile 2 -->
                        <div class="tile sm-12 lg-4">
                            <div class="header">
                                <div class="left">
                                    <div class="title">Unique Physical Sites</div>
                                    <div class="subtitle">per day</div>
                                </div>
                            </div>
                            <div class="content">
                                <div id="unique-sites"></div>
                            </div>
                        </div>

                        <!-- Tile 3 -->
                        <div class="tile sm-12 lg-4">
                            <div class="header">
                                <div class="left">
                                    <div class="title">Number of Unique Nodes</div>
                                    <div class="subtitle">per day</div>
                                </div>
                            </div>
                            <div class="content">
                                <div id="unique-nodes"></div>
                            </div>
                        </div>

                        <!-- Tile 4 -->
                        <div class="tile sm-12 lg-4">
                            <div class="header">
                                <div class="left">
                                    <div class="title">Number of Node Revisits</div>
                                    <div class="subtitle">(after 12 hours)</div>
                                </div>
                            </div>
                            <div class="content">
                                <div id="site-revisits"></div>
                            </div>
                        </div>

                    </div>
                    <!-- End Row 2 -->

                    <!-- Row 3 -->
                    <div class="row">

                        <!-- Tile 5 -->
                        <div class="tile sm-12 lg-8">
                            <div class="header">
                                <div class="left">
                                    <div class="title">IMK Functions</div>
                                </div>
                            </div>
                            <div class="content">
                                <div id="imk-functions"></div>
                            </div>
                        </div>

                        <!-- Tile 6 -->
                        <div class="tile sm-12 lg-4">
                            <div class="header">
                                <div class="left">
                                    <div class="title">IMK Version</div>
                                </div>
                            </div>
                            <div class="content">
                                <div id="imk-version"></div>
                            </div>
                        </div>


                    </div>
                    <!-- End Row 3 -->

                    <!-- Row 4 -->
                    <div class="row">

                        <!-- Tile 7 -->
                        <div class="tile sm-12 lg-8">
                            <div class="header">
                                <div class="left">
                                    <div class="title">Top 10 Field Engineers</div>
                                </div>
                            </div>
                            <div class="content">
                                <div id="top-asp"></div>
                            </div>
                        </div>


                        <!-- Tile 8 -->
                        <div class="tile sm-12 lg-4">
                            <div class="header">
                                <div class="left">
                                    <div class="title">App Version</div>
                                </div>
                            </div>
                            <div class="content">
                                <div id="app-version"></div>
                            </div>
                        </div>

                    </div>
                    <!-- End Row 3 -->


                    <div class="row">
                        <!-- Tile 9 -->
                        <div class="tile sm-12 xl-12">
                            <div class="header">
                                <div class="left">
                                    <div class="title">Site Visit Details</div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="table-top">
                                    <div class="table-top-left">
                                        <div class="table-info"></div>
                                    </div>
                                    <div class="table-top-right">
                                        <div class="table-buttons">
                                            <button class="btn">Export</button>
                                        </div>
                                    </div>
                                </div>

                                <table id="site-details" class="table striped"></table>

                                <div class="table-bottom">
                                    <div class="pagination-group">
                                        <ul class="pagination"></ul>

                                        <div class="actions">
                                            <label class="left">Go to</label>
                                            <input type="number" min="1">

                                            <label class="left">Show</label>
                                            <div class="select" data-type="single">
                                                <button class="btn current-options">5</button>

                                                <div class="options-list">
                                                    <div class="item active">5</div>
                                                    <div class="item">10</div>
                                                    <div class="item">15</div>
                                                    <div class="item">All</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                </div>
            </div>
    </main>

    <script src="./js/eds.min.js" charset="utf-8"></script>
    <script src="./js/app.js" charset="utf-8"></script>
    <script> init()</script>

</body>

</html>