<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        /*.innerText {*/
        /*  display: none;*/
        /*}*/

        /*.contact:hover .innerText {*/
        /*    position: absolute;*/
        /*    display: block;*/
        /*    background-color: rgba(255,255,255,.9) !important;*/
        /*    padding: 10px;*/
        /*    color: black;*/
        /*}*/


        #chartdiv {
            width: 100%;
            height: 300px;
            max-width: 100%;
            background-color: #121212;
        }

        #chartdiv2 {
            width: 100%;
            height: 300px;
            max-width: 100%;
            background-color: #121212;
        }

        #chartdiv3 {
            width: 100%;
            height: 300px;
            max-width: 100%;
            padding-bottom: -30px;
            background-color: #121212;
        }

        @@font-face {
            font-family: "Ericsson Icons";
            src: url(./icons/ericsson-icons.eot?hjv3kp);
            src: url(./icons/ericsson-icons.eot?hjv3kp#iefix) format("embedded-opentype"), url(./icons/ericsson-icons.ttf?hjv3kp) format("truetype"), url(./icons/ericsson-icons.woff?hjv3kp) format("woff"), url(./icons/ericsson-icons.svg?hjv3kp#ericsson-icons) format("svg");
            font-style: normal
        }

        .dark .icon-econ::before {
            content: "\e937"
        }

        .dark .icon {
            font-family: "Ericsson Icons" !important;
            vertical-align: middle;
            speak: none;
            font-style: normal
        }
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="~/assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="~/assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/assets/vendor/charts/c3charts/c3.css">
    <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/datatables/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/datatables/css/buttons.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/datatables/css/select.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/datatables/css/fixedHeader.bootstrap4.css">
    <link rel="icon" type="image/x-icon" href="~/favicon.png">
    <title>IMK Dashboard</title>
</head>

<body class="background-color:#121212">
    <div id="body" hidden>
        <div class="dashboard-main-wrapper">
            <div class="container-fluid dashboard-content">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <div class="watermark dark">
                                <i class="icon icon-econ"></i>
                                <div class="product">Installation Maintenance Kit Dashboard</div>
                                <div style="float:right"><a type="button" class="btn btn-secondary"
                                        asp-area="MicrosoftIdentity" asp-controller="Account"
                                        asp-action="SignOut">Logout</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="checkbox" style="visibility:hidden" id="initmapbutton" onclick="initMap()">

                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="tab-pane fade show active" id="ksamobily" role="tabpanel"
                            aria-labelledby="ksa-mobily-tab">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="card">
                                        <div id="reportrange"
                                            style="background: #454a58; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                                            <i class="fa fa-calendar"></i>&nbsp;
                                            <span></span>
                                            <i class="fa fa-caret-down"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="card">
                                        <h4 class="custom-control-inline">Market Area: </h4>
                                        <form>
                                            <label class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" name="MA" value="MANA" class="custom-control-input">
                                                <span class="custom-control-label">MANA</span>
                                            </label>
                                            <label class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" name="MA" value="MELA" class="custom-control-input">
                                                <span class="custom-control-label">MELA</span>
                                            </label>
                                            <label class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" name="MA" value="MMEA" class="custom-control-input">
                                                <span class="custom-control-label">MMEA</span>
                                            </label>
                                            <label class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" name="MA" value="MNEA" class="custom-control-input">
                                                <span class="custom-control-label">MNEA</span>
                                            </label>
                                            <label class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" name="MA" value="MOAI" class="custom-control-input">
                                                <span class="custom-control-label">MOAI</span>
                                            </label>
                                            <label class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" name="MA" value="MXOT" class="custom-control-input">
                                                <span class="custom-control-label">MXOT</span>
                                            </label>                                                                                                                                    
                                        </form>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                    <div class="card">
                                        <h5 class="card-header">Usage (No. Sites In Selected Dates)</h5>
                                    </div>
                                    <div id="chartdiv"></div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                    <div class="card">
                                        <h5 class="card-header">No. of active users </h5>
                                    </div>
                                    <div id="chartdiv2"></div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                    <div class="card">
                                        <h5 class="card-header">Total No. of new Registrations</h5>
                                    </div>
                                    <div id="chartdiv3"></div>
                                </div>
                            </div>
                            <div class="row" style="margin:10px 0px ">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                    <button type="button" onclick='filter()' class="btn btn-primary">Filter</button>
                                    <button type="button" onclick='reset()' class="btn btn-secondary">Reset</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                    <div class="card">
                                        <h5 class="card-header">Unique physical sites per day &nbsp; <span
                                                id="ksamobilysitenumber"></span></h5>
                                        <div class="card-body">
                                            <div style="color :#71748d !important;" id="site_count"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                    <div class="card">
                                        <h5 class="card-header">Number of nodes per country
                                        </h5>
                                        <div class="card-body">
                                            <div style="color :#71748d !important;" id="countries_view"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                    <div class="card">
                                        <h5 class="card-header">Number of node revisits per country
                                        </h5>
                                        <div class="card-body">
                                            <div style="color :#71748d !important;" id="revisits_view"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-xl2-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="card">
                                        <h5 class="card-header">IMK Functions</h5>
                                        <div class="card-body">
                                            <div style="color :#fff !important;" class="tech_used ct-golden-section">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="card">
                                        <h5 class="card-header">Top 10 Field Engineers</h5>
                                        <div class="card-body">
                                            <div class="top10 ct-golden-section"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="card">
                                        <h5 class="card-header">IMK version</h5>
                                        <div class="card-body">
                                            <div style="color :#71748d !important; " class="custom-donut"
                                                id="IMKchart_donut"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="card">
                                        <h5 class="card-header">Android Version</h5>
                                        <div class="card-body">
                                            <div id="ANDROIDchart_donut" style="color :#71748d !important; "
                                                class="custom-donut"></div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">-->
                                <!--    <div class="card">-->
                                <!--        <h5 class="card-header">-->
                                <!--            Top 10 Field Engineers-->
                                <!--        </h5>-->
                                <!--        <div class="card-body">-->
                                <!--            <div style="color :#71748d !important;" id="topasps"></div>-->
                                <!--        </div>-->
                                <!--    </div>-->
                                <!--</div>-->
                            </div>

                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">Site Visit Detail</h5>
                                        </div>

                                        <div class="card-body">
                                            <div id="nbofrows" style="margin:10px 0px"></div>
                                            <div id="dataTable"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="filterDiv" class="card-absolute">
            <h5 class="card-header">Filters</h5>
            <div id="filterBody" class="card-body">
            </div>
        </div>

        <script src="~/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
        <!-- bootstap bundle js -->
        <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
        <!-- slimscroll js -->
        <script src="~/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
        <!-- main js -->
        <script src="~/assets/libs/js/main-js.js"></script>
        <!-- chart chartist js -->
        <script src="~/assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
        <!-- sparkline js -->
        <script src="~/assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
        <!-- morris js -->
        <script src="~/assets/vendor/charts/morris-bundle/raphael.min.js"></script>
        <script src="~/assets/vendor/charts/morris-bundle/morris.js"></script>
        <!-- chart c3 js -->
        <script src="~/assets/vendor/charts/c3charts/c3.min.js"></script>
        <script src="~/assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
        <script src="~/assets/vendor/charts/c3charts/C3chartjs.js"></script>
        <script src="~/assets/libs/js/dashboard-ecommerce.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="~/assets/vendor/charts/dashboard-charts/datepicker.js"></script>
        <script src="~/assets/vendor/charts/dashboard-charts/watcher.js"></script>


        <!--MAP-->
        <script src="https://www.amcharts.com/lib/4/core.js"></script>
        <script src="https://www.amcharts.com/lib/4/maps.js"></script>
        <script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
        <script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
        <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
        <script>
            var chart = am4core.create("chartdiv", am4maps.MapChart);
            var chart2 = am4core.create("chartdiv2", am4maps.MapChart);
            var chart3 = am4core.create("chartdiv3", am4maps.MapChart);
            var isoCountries = isoCountries = {
                'Afghanistan': 'AF',
                'Aland Islands': 'AX',
                'Albania': 'AL',
                'Algeria': 'DZ',
                'American Samoa': 'AS',
                'Andorra': 'AD',
                'Angola': 'AO',
                'Anguilla': 'AI',
                'Antarctica': 'AQ',
                'Antigua And Barbuda': 'AG',
                'Argentina': 'AR',
                'Armenia': 'AM',
                'Aruba': 'AW',
                'Australia': 'AU',
                'Austria': 'AT',
                'Azerbaijan': 'AZ',
                'Bahamas': 'BS',
                'Bahrain': 'BH',
                'Bangladesh': 'BD',
                'Barbados': 'BB',
                'Belarus': 'BY',
                'Belgium': 'BE',
                'Belize': 'BZ',
                'Benin': 'BJ',
                'Bermuda': 'BM',
                'Bhutan': 'BT',
                'Bolivia': 'BO',
                'Bosnia And Herzegovina': 'BA',
                'Botswana': 'BW',
                'Bouvet Island': 'BV',
                'Brazil': 'BR',
                'British Indian Ocean Territory': 'IO',
                'Brunei Darussalam': 'BN',
                'Bulgaria': 'BG',
                'Burkina Faso': 'BF',
                'Burundi': 'BI',
                'Cambodia': 'KH',
                'Cameroon': 'CM',
                'Canada': 'CA',
                'Cape Verde': 'CV',
                'Cayman Islands': 'KY',
                'Central African Republic': 'CF',
                'Chad': 'TD',
                'Chile': 'CL',
                'China': 'CN',
                'Christmas Island': 'CX',
                'Cocos (Keeling) Islands': 'CC',
                'Colombia': 'CO',
                'Comoros': 'KM',
                'Congo': 'CG',
                'Congo, Democratic Republic': 'CD',
                'Cook Islands': 'CK',
                'Costa Rica': 'CR',
                'Cote D\'Ivoire': 'CI',
                'Croatia': 'HR',
                'Cuba': 'CU',
                'Cyprus': 'CY',
                'Czech Republic': 'CZ',
                'Denmark': 'DK',
                'Djibouti': 'DJ',
                'Dominica': 'DM',
                'Dominican Republic': 'DO',
                'Ecuador': 'EC',
                'Egypt': 'EG',
                'El Salvador': 'SV',
                'Equatorial Guinea': 'GQ',
                'Eritrea': 'ER',
                'Estonia': 'EE',
                'Ethiopia': 'ET',
                'Falkland Islands (Malvinas)': 'FK',
                'Faroe Islands': 'FO',
                'Fiji': 'FJ',
                'Finland': 'FI',
                'France': 'FR',
                'French Guiana': 'GF',
                'French Polynesia': 'PF',
                'French Southern Territories': 'TF',
                'Gabon': 'GA',
                'Gambia': 'GM',
                'Georgia': 'GE',
                'Germany': 'DE',
                'Ghana': 'GH',
                'Gibraltar': 'GI',
                'Greece': 'GR',
                'Greenland': 'GL',
                'Grenada': 'GD',
                'Guadeloupe': 'GP',
                'Guam': 'GU',
                'Guatemala': 'GT',
                'Guernsey': 'GG',
                'Guinea': 'GN',
                'Guinea-Bissau': 'GW',
                'Guyana': 'GY',
                'Haiti': 'HT',
                'Heard Island & Mcdonald Islands': 'HM',
                'Holy See (Vatican City State)': 'VA',
                'Honduras': 'HN',
                'Hong Kong': 'HK',
                'Hungary': 'HU',
                'Iceland': 'IS',
                'India': 'IN',
                'Indonesia': 'ID',
                'Iran, Islamic Republic Of': 'IR',
                'Iraq': 'IQ',
                'Ireland': 'IE',
                'Isle Of Man': 'IM',
                'Israel': 'IL',
                'Italy': 'IT',
                'Jamaica': 'JM',
                'Japan': 'JP',
                'Jersey': 'JE',
                'Jordan': 'JO',
                'Kazakhstan': 'KZ',
                'Kenya': 'KE',
                'Kiribati': 'KI',
                'Korea': 'KR',
                'Kuwait': 'KW',
                'Kyrgyzstan': 'KG',
                'Lao People\'s Democratic Republic': 'LA',
                'Latvia': 'LV',
                'Lebanon': 'LB',
                'Lesotho': 'LS',
                'Liberia': 'LR',
                'Libyan Arab Jamahiriya': 'LY',
                'Liechtenstein': 'LI',
                'Lithuania': 'LT',
                'Luxembourg': 'LU',
                'Macao': 'MO',
                'Macedonia': 'MK',
                'Madagascar': 'MG',
                'Malawi': 'MW',
                'Malaysia': 'MY',
                'Maldives': 'MV',
                'Mali': 'ML',
                'Malta': 'MT',
                'Marshall Islands': 'MH',
                'Martinique': 'MQ',
                'Mauritania': 'MR',
                'Mauritius': 'MU',
                'Mayotte': 'YT',
                'Mexico': 'MX',
                'Micronesia, Federated States Of': 'FM',
                'Moldova': 'MD',
                'Monaco': 'MC',
                'Mongolia': 'MN',
                'Montenegro': 'ME',
                'Montserrat': 'MS',
                'Morocco': 'MA',
                'Mozambique': 'MZ',
                'Myanmar': 'MM',
                'Namibia': 'NA',
                'Nauru': 'NR',
                'Nepal': 'NP',
                'Netherlands': 'NL',
                'Netherlands Antilles': 'AN',
                'New Caledonia': 'NC',
                'New Zealand': 'NZ',
                'Nicaragua': 'NI',
                'Niger': 'NE',
                'Nigeria': 'NG',
                'Niue': 'NU',
                'Norfolk Island': 'NF',
                'Northern Mariana Islands': 'MP',
                'Norway': 'NO',
                'Oman': 'OM',
                'Pakistan': 'PK',
                'Palau': 'PW',
                'Palestinian Territory, Occupied': 'PS',
                'Panama': 'PA',
                'Papua New Guinea': 'PG',
                'Paraguay': 'PY',
                'Peru': 'PE',
                'Philippines': 'PH',
                'Pitcairn': 'PN',
                'Poland': 'PL',
                'Portugal': 'PT',
                'Puerto Rico': 'PR',
                'Qatar': 'QA',
                'Reunion': 'RE',
                'Romania': 'RO',
                'Russian Federation': 'RU',
                'Rwanda': 'RW',
                'Saint Barthelemy': 'BL',
                'Saint Helena': 'SH',
                'Saint Kitts And Nevis': 'KN',
                'Saint Lucia': 'LC',
                'Saint Martin': 'MF',
                'Saint Pierre And Miquelon': 'PM',
                'Saint Vincent And Grenadines': 'VC',
                'Samoa': 'WS',
                'San Marino': 'SM',
                'Sao Tome And Principe': 'ST',
                'Saudi Arabia': 'SA',
                'KSA': 'SA',
                'Senegal': 'SN',
                'Serbia': 'RS',
                'Seychelles': 'SC',
                'Sierra Leone': 'SL',
                'Singapore': 'SG',
                'Slovakia': 'SK',
                'Slovenia': 'SI',
                'Solomon Islands': 'SB',
                'Somalia': 'SO',
                'South Africa': 'ZA',
                'South Georgia And Sandwich Isl.': 'GS',
                'Spain': 'ES',
                'Sri Lanka': 'LK',
                'Sudan': 'SD',
                'Suriname': 'SR',
                'Svalbard And Jan Mayen': 'SJ',
                'Swaziland': 'SZ',
                'Sweden': 'SE',
                'Switzerland': 'CH',
                'Syrian Arab Republic': 'SY',
                'Taiwan': 'TW',
                'Tajikistan': 'TJ',
                'Tanzania': 'TZ',
                'Thailand': 'TH',
                'Timor-Leste': 'TL',
                'Togo': 'TG',
                'Tokelau': 'TK',
                'Tonga': 'TO',
                'Trinidad And Tobago': 'TT',
                'Tunisia': 'TN',
                'Turkey': 'TR',
                'Turkmenistan': 'TM',
                'Turks And Caicos Islands': 'TC',
                'Tuvalu': 'TV',
                'Uganda': 'UG',
                'Ukraine': 'UA',
                'United Arab Emirates': 'AE',
                'United Kingdom': 'GB',
                'United States': 'US',
                'United States Outlying Islands': 'UM',
                'Uruguay': 'UY',
                'Uzbekistan': 'UZ',
                'Vanuatu': 'VU',
                'Venezuela': 'VE',
                'Viet Nam': 'VN',
                'Virgin Islands, British': 'VG',
                'Virgin Islands, U.S.': 'VI',
                'Wallis And Futuna': 'WF',
                'Western Sahara': 'EH',
                'Yemen': 'YE',
                'Zambia': 'ZM',
                'Zimbabwe': 'ZW'
            };

            function getCountryName(countryCode) {
                if (isoCountries.hasOwnProperty(countryCode)) {
                    return isoCountries[countryCode];
                } else {
                    return countryCode;
                }
            }
            function initMap() {
                
                 $.ajax({
                url: "api/dashboardapi/new_users",
                type: "GET",
                success: function (res) {
                    var mapdata = [];
                    for (var i = 0; i < res.length; i++) {
                        var obj = res[i];
                        var isocode = getCountryName(obj["country"])
                        if (isocode != "Other") {
                            var data = []
                            if (obj["percent"] > 20) {

                                data["title"] = obj["country"]
                                data["id"] = isocode;
                                data["customData"] = obj["users"] + " (" + obj["percent"] + "%)";
                                data["fill"] = "#ff0000"
                            }
                            if (obj["percent"] > 10 && obj["percent"] < 20) {

                                data["title"] = obj["country"]
                                data["id"] = isocode;
                                data["customData"] = obj["users"] + " (" + obj["percent"] + "%)";
                                data["fill"] = "#FFA500"
                            }
                            if (obj["percent"] < 10) {
                                var data = [];

                                data["title"] = obj["country"]
                                data["id"] = isocode;
                                data["customData"] = obj["users"] + " (" + obj["percent"] + "%)";
                                data["fill"] = "#ffff00"

                            }
                            mapdata.push(data)
                        }
                        if (isocode == "MA") {
                            var data = []
                            if (obj["percent"] > 20) {

                                data["title"] = obj["country"]
                                data["id"] = 'EH';
                                data["customData"] =  obj["users"] + " (" + obj["percent"] + "%)";
                                data["fill"] = "#ff0000"
                            }
                            if (obj["percent"] > 10 && obj["percent"] < 20) {

                                data["title"] = obj["country"]
                                data["id"] = 'EH';
                                data["customData"] =  obj["users"] + " (" + obj["percent"] + "%)";
                                data["fill"] = "#FFA500"
                            }
                            if (obj["percent"] < 10) {
                                var data = [];

                                data["title"] = obj["country"]
                                data["id"] = 'EH';
                                data["customData"] =  obj["users"] + " (" + obj["percent"] + "%)";
                                data["fill"] = "#ffff00"

                            }
                            mapdata.push(data)
                        }
                    }
                    am4core.ready(function () {


                        // Themes begin
                        am4core.useTheme(am4themes_dark);
                        am4core.useTheme(am4themes_animated);
                        // Themes end

                        if (chart3) {
                            chart3.dispose();
                            delete chart3;
                            chart3 = am4core.create("chartdiv3", am4maps.MapChart)
                        }

                        // Set map definition
                        chart3.geodata = am4geodata_worldLow;

                        // Set projection
                        chart3.projection = new am4maps.projections.Orthographic();
                        chart3.panBehavior = "rotateLongLat";
                        chart3.deltaLatitude = -20;
                        chart3.padding(20, 20, 20, 20);

                        // limits vertical rotation
                        chart3.adapter.add("deltaLatitude", function (delatLatitude) {
                            return am4core.math.fitToRange(delatLatitude, -90, 90);
                        })

                        // Create map polygon series
                        var polygonSeries = chart3.series.push(new am4maps.MapPolygonSeries());

                        // Make map load polygon (like country names) data from GeoJSON
                        polygonSeries.useGeodata = true;

                        // Configure series
                        var polygonTemplate = polygonSeries.mapPolygons.template;
                        polygonTemplate.tooltipText = "{name} IMK Registed Users {customData} ";
                        polygonTemplate.fill = am4core.color("fill");

                        var graticuleSeries = chart3.series.push(new am4maps.GraticuleSeries());
                        graticuleSeries.mapLines.template.line.stroke = am4core.color("#ffffff");
                        graticuleSeries.mapLines.template.line.strokeOpacity = 0.08;
                        graticuleSeries.fitExtent = false;


                        chart3.backgroundSeries.mapPolygons.template.polygon.fillOpacity = 0.1;
                        chart3.backgroundSeries.mapPolygons.template.polygon.fill = am4core.color("#ffffff");

                        // // Create hover state and set alternative fill color
                        // var hs = polygonTemplate.states.create("hover");
                        // hs.properties.fill = chart.colors.getIndex(0).brighten(-0.5);

                        // // Create hover state and set alternative fill color
                        // var hs = polygonTemplate.states.create("hover");
                        // hs.properties.fill = am4core.color("#fff");

                        // Remove Antarctica
                        polygonSeries.exclude = [];

                        // Add some data
                        polygonSeries.data = mapdata;

                        // Bind "fill" property to "fill" key in data
                        polygonTemplate.propertyFields.fill = "fill";
                    }); // end am4core.ready()

                }
                })
                $.ajax({
                url: "api/dashboardapi/usage",
                type: "GET",
                data: localStorage['MQ'],
                success: function (res) {
                    var mapdata=[];
                    for(var i=0; i<res.length; i++) {
                        var obj = res[i];
                        var isocode=getCountryName(obj["country"])
                        if(isocode!="Other"){
                            var data = []
                            if(obj["percent"]>20){
                                
                                    data["title"]=obj["country"]
                                    data["id"] = isocode;
                                    data["customData"]= obj["usage"]+" ("+obj["percent"]+"%)";
                                    data["fill"]="#ff0000"
                                } 
                                if(obj["percent"]>10 && obj["percent"]<20){
                                    
                                    data["title"]=obj["country"]
                                    data["id"] = isocode;
                                    data["customData"]= obj["usage"]+" ("+obj["percent"]+"%)";
                                    data["fill"]="#FFA500"
                                } 
                                if( obj["percent"]<10){
                                    var data=[];
                                    
                                    data["title"]=obj["country"]
                                    data["id"] = isocode;
                                    data["customData"]= obj["usage"]+" ("+obj["percent"]+"%)";
                                    data["fill"]="#ffff00"
                                    
                                } 
                            
                            mapdata.push(data)
                        }
                        if(isocode=="MA"){
                            var data = []
                            if(obj["percent"]>20){
                                
                                    data["title"]=obj["country"]
                                    data["id"] = 'EH';
                                    data["customData"]= obj["usage"]+" ("+obj["percent"]+"%)";
                                    data["fill"]="#ff0000"
                                } 
                                if(obj["percent"]>10 && obj["percent"]<20){
                                    
                                    data["title"]=obj["country"]
                                    data["id"] = 'EH';
                                    data["customData"]= obj["usage"]+" ("+obj["percent"]+"%)";
                                    data["fill"]="#FFA500"
                                } 
                                if(obj["percent"]<10){
                                    var data=[];
                                    
                                    data["title"]=obj["country"]
                                    data["id"] = 'EH';
                                    data["customData"]= obj["usage"]+" ("+obj["percent"]+"%)";
                                    data["fill"]="#ffff00"
                                    
                                } 
                            mapdata.push(data)
                        }
                    }
                    am4core.ready(function() {
                    
                    
                    // Themes begin
                    am4core.useTheme(am4themes_dark);
                    am4core.useTheme(am4themes_animated);
                    // Themes end
                    
                    if (chart) {
                        chart.dispose();
                        delete chart;
                        chart  = am4core.create("chartdiv", am4maps.MapChart)
                    }
                    
                    // Set map definition
                    chart.geodata = am4geodata_worldLow;
                    
                    // Set projection
                    chart.projection = new am4maps.projections.Orthographic();
                    chart.panBehavior = "rotateLongLat";
                    chart.deltaLatitude = -20;
                    chart.padding(20,20,20,20);
                    
                    // limits vertical rotation
                    chart.adapter.add("deltaLatitude", function(delatLatitude){
                        return am4core.math.fitToRange(delatLatitude, -90, 90);
                    })
                    
                    // Create map polygon series
                    var polygonSeries = chart.series.push(new am4maps.MapPolygonSeries());
                    
                    // Make map load polygon (like country names) data from GeoJSON
                    polygonSeries.useGeodata = true;
                    
                    // Configure series
                    var polygonTemplate = polygonSeries.mapPolygons.template;
                    polygonTemplate.tooltipText = "{name} IMK usage {customData} ";
                    polygonTemplate.fill = am4core.color("fill");
                    
                    var graticuleSeries = chart.series.push(new am4maps.GraticuleSeries());
                    graticuleSeries.mapLines.template.line.stroke = am4core.color("#ffffff");
                    graticuleSeries.mapLines.template.line.strokeOpacity = 0.08;
                    graticuleSeries.fitExtent = false;
                    
                    
                    chart.backgroundSeries.mapPolygons.template.polygon.fillOpacity = 0.1;
                    chart.backgroundSeries.mapPolygons.template.polygon.fill = am4core.color("#ffffff");
                    
            
                    polygonSeries.exclude = [];
                    
                    // Add some data
                    polygonSeries.data = mapdata;
                    
                    // Bind "fill" property to "fill" key in data
                    polygonTemplate.propertyFields.fill = "fill";
                    }); // end am4core.ready()

                }
                })

                $.ajax({
                url: "api/dashboardapi/active_users",
                type: "GET",
                success: function (res) {
                    var mapdata = [];
                    for (var i = 0; i < res.length; i++) {
                        var obj = res[i];
                        var isocode = getCountryName(obj["country"])
                        if(isocode!="Other"){
                            var data = []
                            if(obj["percent"]>20){
                                
                                    data["title"]=obj["country"]
                                    data["id"] = isocode;
                                    data["customData"]= obj["users"]+" ("+obj["percent"]+"%)";
                                    data["fill"]="#ff0000"
                                } 
                                if(obj["percent"]>10 && obj["percent"]<20){
                                    
                                    data["title"]=obj["country"]
                                    data["id"] = isocode;
                                    data["customData"]= obj["users"]+" ("+obj["percent"]+"%)";
                                    data["fill"]="#FFA500"
                                } 
                                if( obj["percent"]<10){
                                    var data=[];
                                    
                                    data["title"]=obj["country"]
                                    data["id"] = isocode;
                                    data["customData"]= obj["users"]+" ("+obj["percent"]+"%)";
                                    data["fill"]="#ffff00"
                                    
                                } 
                            
                            mapdata.push(data)
                        }
                        if(isocode=="MA"){
                            var data = []
                            if(obj["percent"]>20){
                                
                                    data["title"]=obj["country"]
                                    data["id"] = 'EH';
                                    data["customData"]= obj["users"]+" ("+obj["percent"]+"%)";
                                    data["fill"]="#ff0000"
                                } 
                                if(obj["percent"]>10 && obj["percent"]<20){
                                    
                                    data["title"]=obj["country"]
                                    data["id"] = 'EH';
                                    data["customData"]= obj["users"]+" ("+obj["percent"]+"%)";
                                    data["fill"]="#FFA500"
                                } 
                                if(obj["percent"]<10){
                                    var data=[];
                                    
                                    data["title"]=obj["country"]
                                    data["id"] = 'EH';
                                    data["customData"]= obj["users"]+" ("+obj["percent"]+"%)";
                                    data["fill"]="#ffff00"
                                    
                                } 
                            mapdata.push(data)
                        }
                    }
                    am4core.ready(function () {
                        // Themes begin
                        am4core.useTheme(am4themes_dark);
                        am4core.useTheme(am4themes_animated);
                        // Themes end


                        if (chart2) {
                            chart2.dispose();
                            delete chart2;
                            chart2 = am4core.create("chartdiv2", am4maps.MapChart)
                        }
                        // Set map definition
                        chart2.geodata = am4geodata_worldLow;

                        // Set projection
                        chart2.projection = new am4maps.projections.Orthographic();
                        chart2.panBehavior = "rotateLongLat";
                        chart2.deltaLatitude = -20;
                        chart2.padding(20, 20, 20, 20);

                        // limits vertical rotation
                        chart2.adapter.add("deltaLatitude", function (delatLatitude) {
                            return am4core.math.fitToRange(delatLatitude, -90, 90);
                        })

                        // Create map polygon series
                        var polygonSeries = chart2.series.push(new am4maps.MapPolygonSeries());

                        // Make map load polygon (like country names) data from GeoJSON
                        polygonSeries.useGeodata = true;

                        // Configure series
                        var polygonTemplate = polygonSeries.mapPolygons.template;
                        polygonTemplate.tooltipText = "{name} IMK Users {customData} ";
                        polygonTemplate.fill = am4core.color("fill");

                        var graticuleSeries = chart2.series.push(new am4maps.GraticuleSeries());
                        graticuleSeries.mapLines.template.line.stroke = am4core.color("#ffffff");
                        graticuleSeries.mapLines.template.line.strokeOpacity = 0.08;
                        graticuleSeries.fitExtent = false;


                        chart2.backgroundSeries.mapPolygons.template.polygon.fillOpacity = 0.1;
                        chart2.backgroundSeries.mapPolygons.template.polygon.fill = am4core.color("#ffffff");

                        // // Create hover state and set alternative fill color
                        // var hs = polygonTemplate.states.create("hover");
                        // hs.properties.fill = chart.colors.getIndex(0).brighten(-0.5);

                        // // Create hover state and set alternative fill color
                        // var hs = polygonTemplate.states.create("hover");
                        // hs.properties.fill = am4core.color("#fff");

                        // Remove Antarctica
                        polygonSeries.exclude = [];

                        // Add some data
                        polygonSeries.data = mapdata;

                        // Bind "fill" property to "fill" key in data
                        polygonTemplate.propertyFields.fill = "fill";
                    }); // end am4core.ready()

                }
                })
            
               /*
                httpGetAsyncHtml("https://ericssonquiz.com/dashboard-backend/get.php?type=usersMap&", function (resp) {
                    var mapdata = [];
                    const json = resp;
                    console.log(JSON.parse(json))
                    const obj = JSON.parse(json);
                    for (var i = 0; i < obj.data.length; i++) {
                        var isocode = getCountryName(obj.data[i][0])

                        if (isocode != "Other") {
                            var data = []
                            // if(obj.data[i][2]>80){

                            //     data["title"]=obj.data[i][0]
                            //     data["id"] = isocode;
                            //     data["customData"]= obj.data[i][1]+" ("+obj.data[i][2]+"%)";
                            //     data["fill"]="#8b0000"
                            // } 
                            // if(obj.data[i][2]>60 && obj.data[i][2]<80){
                            //     var data=[];

                            //     data["title"]=obj.data[i][0]
                            //     data["id"] = isocode;
                            //     data["customData"]= obj.data[i][1]+" ("+obj.data[i][2]+"%)";
                            //     data["fill"]="#800020"
                            // } 
                            if (obj.data[i][2] > 20) {

                                data["title"] = obj.data[i][0]
                                data["id"] = isocode;
                                data["customData"] = obj.data[i][1] + " (" + obj.data[i][2] + "%)";
                                data["fill"] = "#ff0000"
                            }
                            if (obj.data[i][2] > 10 && obj.data[i][2] < 20) {

                                data["title"] = obj.data[i][0]
                                data["id"] = isocode;
                                data["customData"] = obj.data[i][1] + " (" + obj.data[i][2] + "%)";
                                data["fill"] = "#FFA500"
                            }
                            if (obj.data[i][2] < 10) {
                                var data = [];

                                data["title"] = obj.data[i][0]
                                data["id"] = isocode;
                                data["customData"] = obj.data[i][1] + " (" + obj.data[i][2] + "%)";
                                data["fill"] = "#ffff00"

                            }
                            mapdata.push(data)
                        }
                        if (isocode == "MA") {
                            var data = []
                            // if(obj.data[i][2]>80){

                            //     data["title"]=obj.data[i][0]
                            //     data["id"] = isocode;
                            //     data["customData"]= obj.data[i][1]+" ("+obj.data[i][2]+"%)";
                            //     data["fill"]="#8b0000"
                            // } 
                            // if(obj.data[i][2]>60 && obj.data[i][2]<80){
                            //     var data=[];

                            //     data["title"]=obj.data[i][0]
                            //     data["id"] = isocode;
                            //     data["customData"]= obj.data[i][1]+" ("+obj.data[i][2]+"%)";
                            //     data["fill"]="#800020"
                            // } 
                            if (obj.data[i][2] > 20) {

                                data["title"] = obj.data[i][0]
                                data["id"] = 'EH';
                                data["customData"] = obj.data[i][1] + " (" + obj.data[i][2] + "%)";
                                data["fill"] = "#ff0000"
                            }
                            if (obj.data[i][2] > 10 && obj.data[i][2] < 20) {

                                data["title"] = obj.data[i][0]
                                data["id"] = 'EH';
                                data["customData"] = obj.data[i][1] + " (" + obj.data[i][2] + "%)";
                                data["fill"] = "#FFA500"
                            }
                            if (obj.data[i][2] < 10) {
                                var data = [];

                                data["title"] = obj.data[i][0]
                                data["id"] = 'EH';
                                data["customData"] = obj.data[i][1] + " (" + obj.data[i][2] + "%)";
                                data["fill"] = "#ffff00"

                            }
                            mapdata.push(data)
                        }
                    }
                    am4core.ready(function () {
                        // Themes begin
                        am4core.useTheme(am4themes_dark);
                        am4core.useTheme(am4themes_animated);
                        // Themes end


                        if (chart2) {
                            chart2.dispose();
                            delete chart2;
                            chart2 = am4core.create("chartdiv2", am4maps.MapChart)
                        }
                        // Set map definition
                        chart2.geodata = am4geodata_worldLow;

                        // Set projection
                        chart2.projection = new am4maps.projections.Orthographic();
                        chart2.panBehavior = "rotateLongLat";
                        chart2.deltaLatitude = -20;
                        chart2.padding(20, 20, 20, 20);

                        // limits vertical rotation
                        chart2.adapter.add("deltaLatitude", function (delatLatitude) {
                            return am4core.math.fitToRange(delatLatitude, -90, 90);
                        })

                        // Create map polygon series
                        var polygonSeries = chart2.series.push(new am4maps.MapPolygonSeries());

                        // Make map load polygon (like country names) data from GeoJSON
                        polygonSeries.useGeodata = true;

                        // Configure series
                        var polygonTemplate = polygonSeries.mapPolygons.template;
                        polygonTemplate.tooltipText = "{name} IMK Users {customData} ";
                        polygonTemplate.fill = am4core.color("fill");

                        var graticuleSeries = chart2.series.push(new am4maps.GraticuleSeries());
                        graticuleSeries.mapLines.template.line.stroke = am4core.color("#ffffff");
                        graticuleSeries.mapLines.template.line.strokeOpacity = 0.08;
                        graticuleSeries.fitExtent = false;


                        chart2.backgroundSeries.mapPolygons.template.polygon.fillOpacity = 0.1;
                        chart2.backgroundSeries.mapPolygons.template.polygon.fill = am4core.color("#ffffff");

                        // // Create hover state and set alternative fill color
                        // var hs = polygonTemplate.states.create("hover");
                        // hs.properties.fill = chart.colors.getIndex(0).brighten(-0.5);

                        // // Create hover state and set alternative fill color
                        // var hs = polygonTemplate.states.create("hover");
                        // hs.properties.fill = am4core.color("#fff");

                        // Remove Antarctica
                        polygonSeries.exclude = [];

                        // Add some data
                        polygonSeries.data = mapdata;

                        // Bind "fill" property to "fill" key in data
                        polygonTemplate.propertyFields.fill = "fill";
                    }); // end am4core.ready()
                })*/

            }
            initMap()

        </script>
    </div>
</body>

</html>