<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ericsson IMK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.png">
    <link rel="stylesheet" type="text/css" media="screen" href="eds.min.css" />
</head>

<body class="dark">
    <div class="signin">
        <div class="watermark">
            <i class="icon icon-econ"></i>
            <div class="product" style="width:100% ">Installation Maintenance Kit Dashboard</div>
        </div>
        <div id="error"></div>
        <form id="auth" class="">
@* 
            <div class="field validate">
                <input type="email" name="username" id="username" placeholder="Email" tabindex="0" autofocus required>
                <label for="username">Email</label>
                <div class="hint"></div>
            </div>

            <div class="field validate">
                <input type="password" name="password" id="password" placeholder=" " tabindex="0" required>
                <label for="password">Password</label>
                <span class="reveal tooltip">
                    <i onclick='showPassword()' class="icon icon-eye"></i> <span class="message bottom-end">Show
                        password</span>
                </span>
                <div class="hint"></div>
            </div>

            <button class="btn big primary">Sign in</button> *@
            <!--<div class="help">-->
            <!--    <a href="reset-password.html" class="subtle-link">Forget Password</a>-->
            <!--</div><br>-->
            <div class="access">
                <a href=""
                    class="subtle-link">Request Access</a>
            </div>

        </form>


    </div>
    <script src="assets/vendor/auth/authService.js"></script>
</body>

</html>